<% provide(:title, @user.name) %>


<div class="users-wrapper">
  <div class="users-container">
    <div class="row">
      <div class="col-md-8 mx-auto">
        <div class='card border-info mb-3'>
          <div class='card-header'><%= gravatar_for @user, size: 50 %><%= @user.name %></div>
            <div class="btn-toolbar" role="toolbar" aria-label="ボタングループのツールバー">
              <div class="btn-group mr-2" role="group" aria-label="1">
                <%= link_to t("habits.index.daily"), daily_habit_new_path, class: 'btn btn-info' if @user == current_user%>
              </div>
              <div class="btn-group mr-2" role="group" aria-label="2">
                <%= link_to t("habits.index.weekly"), weekly_habit_new_path, class: 'btn btn-info' if @user == current_user%>
              </div>
            </div>
          </div>
          <%= render 'follow_form' if logged_in? %>
        <section class="stats">
          <%= render 'shared/stats' %>
        </section>
        <div class='card-body'>
          <h1 class="text-center text-black">Daily_Habit</h1>
          <% @user.daily_habits.each do |habit|  %>
              <label class="text-center text-black"><%= habit.name %>→Daily Total:<%= habit.daily_achievements.count %> </label>
          <% end %>
          <br><h1 class="text-center text-black">Weekly_Habit</h1>
          <% @user.weekly_habits.each do |habit|  %>  
            <label class="text-center text-black"><%= habit.name %>→Weekly Total:<%= habit.weekly_achievements.count %> </label>
          <% end %>
          <br><h1 class="text-center text-black">Hobby</h1>
          <% @user.hobbies.each do |hobby|  %>
            <label class="text-center text-black"><%= hobby.title %><%= hobby.impression %></label>
          <% end %>
        </div>
        </div>
      </div>
    </div>
  </div>
</div>