<% provide(:title, 'Profile') %>


<div class="users-wrapper">
  <div class="users-container">
    <div class="row">
      <div class="col-md-8 mx-auto">
        <h1>User name : <%= current_user.name %></h1>
        
        <div class='card'>
          <div class='card-header'>
            <h1 class="text-center text-black">Daily_Habit</h1>
          </div>
          <% current_user.daily_habits.each do |habit|  %>
            <div class='card-body'>
              <label class="text-center text-black"><%= habit.name %>→Daily Total:<%= habit.daily_achievements.count %> </label>
           </div>
          <% end %>
         
        </div>
        
        <div class='card'>
          <div class='card-header'>
            <h1 class="text-center text-black">Weekly_Habit</h1>
          </div>  
          <% current_user.weekly_habits.each do |habit|  %>  
          <div class='card-body'>
            <label class="text-center text-black"><%= habit.name %>→Weekly Total:<%= habit.weekly_achievements.count %> </label>
          </div>
          <% end %>
        </div>
        
        <div class='card'>
          <div class='card-header'>
            <h1 class="text-center text-black">Hobby</h1>
          </div>
          <% current_user.hobbies.each do |hobby|  %>
          <div class='card-body'>
            <label class="text-center text-black"><%= hobby.title %><%= hobby.impression %></label>
          </div>
          <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>