<% provide(:title, 'Profile') %>


<div class="habits-new-wrapper">
  <div class="habits-container">
    <div class="row">
      <div class="col-md-8 mx-auto">
        <h1>User name:<%= User.name %></h1>
        
        <div class='card'>
          <div class='card-header'>
            <h1 class="text-center text-black">Daily</h1>
          </div>
          <% current_user.daily_habits.each do |habit|  %>
          <div class='card-body'>
            <label class="text-center text-black"><%= habit.name %>→Daily Total:<%= habit.daily_achievements.count %> </label>
          <% end %>
          </div>
        </div>
        
        <div class='card'>
          <div class='card-header'>
            <h1 class="text-center text-black">Weekly</h1>
          </div>  
          <% current_user.weekly_habits.each do |habit|  %>  
          <div class='card-body'>
            <label class="text-center text-black"><%= habit.name %>→Weekly Total:<%= habit.weekly_achievements.count %> </label>
          </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>