<% provide(:title, 'Habit') %>

<div class="habits-new-wrapper">
  <div class="habits-container">
    <div class="row">
      <div class="col-md-8 mx-auto">
        <h1>Habit page!</h1>
        <%= link_to "New habits", new_habit_path, class: 'btn btn-info' %>

      <div class='card'>
        <div class='card-header'>
          <h1 class="text-center text-black">Daily</h1>
        </div>
      
      <%= form_tag(save_habit_path, method: :post) do %>
        <% cnt = 0 %>
        <% current_user.daily_habits.each do |habit|  %>
        <div class='card-body'>
          <h2 class="text-center text-black"><input type="checkbox" name="achievement_daily[<%= cnt %>]" value="<%= habit.id %>"><%= habit.name %>→Daily Total:<%= habit.total %></h2>
        </div>
        <!--<input type="hidden" name="habit_id_daily[]" value="<%#= habit.id %>">-->
        <% cnt += 1 %>
        <% end %>
      </div>
      
      <div class='card'>
        <div class='card-header'>
          <h1 class="text-center text-black">Weekly</h1>
        </div>  
        <% current_user.weekly_habits.each do |habit|  %>  
        <div class='card-body'>
          <h2 class="text-center text-black"><input type="checkbox" name="achievement_weekly[]"><%= habit.name %>→Weekly Total:<%= habit.total %></h2>
        </div>
        <input type="hidden" name="habit_id_weekly[]" value="<%= habit.id %>">
        <% end %>
        <%= button_tag type: :submit do %>
          <%= image_tag "icons/cat_straight.png" %>
        <% end %>
      </div>
      <% end %>
    </div>
  </div>
</div>